.admin-card {
  border-radius: 14px !important;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 73, 155, 0.08);
}

.admin-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 73, 155, 0.15);
}
